<%= simple_form_for(:session, :url => sessions_path, :html => { :class => 'form-horizontal' }) do |f| %>
  <div id="legend">
      <legend class="">Login</legend>
    </div>
  <%= f.input :email %>
  <%= f.input :password %>
  <hr>
  <%= f.button :submit, :value => 'Entrar', :class => 'btn btn-success' %>
<% end %>
