<div style="border: 1px #000 solid; margin-top: 50px;" class="colspan10">

  <p><center>Atestado Odontologico</center></p>	
  <p><center>Atesto para fins , a pedido do(a) Sr(a) Lucas, que o(a) mesmo(a) esteve neste consultório, para atendimento Cirugico, na data de hoje, no período das 22:00 às 22:30, devendo guardar repouso por 02 (dois) dias, sob o CID 000000

_____________________________                      __________________________________________
Assinatura,                                        carimbo e data

</center></p>

</div>

