<%= javascript_include_tag "fullcalendar.min" %>
<style>
  #calendar {
    width: 900px;
    margin: 0 auto;
    }
</style>
<div id = 'calendar'> </div>  
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
    events: function(start, end, callback) {
        $.ajax({
            url: '../consultas.xml',
            dataType: 'xml',
            success: function(doc) {
                var events = [];
                $(doc).find('consulta').each(function() {
                    events.push({
                         title: $(this).find("id").text(),
                         start: $(this).find("data").text(),
                    });
                });
                callback(events);
            }
        });
    }
});
    
  });
</script>